*
!wydgo748/
!wydgo748/**

wydgo748/bin/
wydgo748/data/SkillData.bin
wydgo748/data/accounts/
wydgo748/data/charstate/
wydgo748/web/portal/.astro/
wydgo748/web/portal/dist/
wydgo748/web/portal/node_modules/
